@using ReportViewerForMvc;
@using Entt.Ers.Models
@model DeviceAtBranchSummaryViewModel
@{
    ViewBag.Title = "Device At Branch Details Report";
}

@section header {
    <style>
        .form-horizontal .checkbox .checker, .form-horizontal .checkbox-inline .checker { top: 18px; }
        .content-group { margin-bottom: 0px !important; }
    </style>
}

@section PageHeader {
    <ul class="breadcrumb breadcrumb-caret position-left">
        <li><a href="/">Home</a></li>
        <li><a href="#">AIMS</a></li>
        <li class="active">Device At Branch Details Report</li>
    </ul>
}

<div class="row">
    <div class="panel panel-default border-grey">
        <div class="panel-heading">
            <h5 class="panel-title"><i class="icon-search4 text-size-base position-left"></i>Filter<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse" class=""></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("DeviceAtBranchDetails", "Aims", FormMethod.Post, new { @class = "form-horizontal form-validate", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-group content-group">
                    <label class="col-lg-1 control-label">Branch:</label>
                    <div class="col-lg-6 input-group">
                        <div class="multi-select-full">
                            @Html.ListBoxFor(m => m.SearchBranches, (IEnumerable<SelectListItem>)ViewBag.Branches, new { @class = "multiselect-select-all-filtering", multiple = "multiple" })
                        </div>
                    </div>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-xlg legitRipple">View</button>
                    </div>                
                </div>
            }
        </div>
    </div>    
</div>

<div class="row">
    <div class="panel panel-default border-grey">
        <div class="panel-body">
            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="/Scripts/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="/Scripts/uniform.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ripple.min.js"></script>
    <script>
        $("iframe[src*='Viewer']").width("95%");
        $('.multiselect-select-all-filtering').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            templates: {
                filter: '<li class="multiselect-item multiselect-filter"><i class="icon-search4"></i> <input class="form-control" type="text"></li>'
            },
            onSelectAll: function () {
                $.uniform.update();
            }
        });
        $(".styled, .multiselect-container input").uniform({ radioClass: 'choice' });        
    </script>
}

