USE [Entt]
GO
/****** Object:  StoredProcedure [dbo].[usp_home_acceptance_branch]    Script Date: 12/14/2016 10:47:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Entt].[usp_home_acceptance_branch]
    @reportDate datetime,
    @branchCode nvarchar(50)
 AS   

SET NOCOUNT ON;   

SELECT 
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 0 THEN 1 ELSE 0 END),0) AS [00],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 1 THEN 1 ELSE 0 END),0) AS [01],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 2 THEN 1 ELSE 0 END),0) AS [02],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 3 THEN 1 ELSE 0 END),0) AS [03],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 4 THEN 1 ELSE 0 END),0) AS [04],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 5 THEN 1 ELSE 0 END),0) AS [05],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 6 THEN 1 ELSE 0 END),0) AS [06],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 7 THEN 1 ELSE 0 END),0) AS [07],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 8 THEN 1 ELSE 0 END),0) AS [08],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 9 THEN 1 ELSE 0 END),0) AS [09],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 10 THEN 1 ELSE 0 END),0) AS [10],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 11 THEN 1 ELSE 0 END),0) AS [11],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 12 THEN 1 ELSE 0 END),0) AS [12],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 13 THEN 1 ELSE 0 END),0) AS [13],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 14 THEN 1 ELSE 0 END),0) AS [14],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 15 THEN 1 ELSE 0 END),0) AS [15],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 16 THEN 1 ELSE 0 END),0) AS [16],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 17 THEN 1 ELSE 0 END),0) AS [17],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 18 THEN 1 ELSE 0 END),0) AS [18],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 19 THEN 1 ELSE 0 END),0) AS [19],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 20 THEN 1 ELSE 0 END),0) AS [20],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 21 THEN 1 ELSE 0 END),0) AS [21],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 22 THEN 1 ELSE 0 END),0) AS [22],
	COALESCE(SUM(CASE WHEN DATEPART(HH,[DateTime]) = 23 THEN 1 ELSE 0 END),0) AS [23],
	COUNT(*) AS [Total]
FROM [Entt].[Acceptance] 
  WHERE [DateTime] >= DATEADD(d,0,DATEDIFF(d,0,@reportDate)) AND [DateTime] < DATEADD(d,1,DATEDIFF(d,0,@reportDate)) 
  AND [LocationId] = @branchCode

GO

