@{
    ViewBag.Title = "Unauthorized Action";
}


<div class="panel panel-flat">
    <div class="panel-body">
        <h4>You are trying to access something that are not permissable!</h4>
    </div>
</div>