@{
    ViewBag.Title = "Dashboard";
}

@section PageHeader {
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li><a href="/">Home</a></li>
        <li class="active">Dashboard</li>
    </ul>
}

<div class="panel">
    <div class="panel-body">
        <h4 class="text-center content-group-xs">
            Welcome to EnTT Reporting System
            <small class="display-block">Enterprise Track and Trace</small>
        </h4>
    </div>
</div>

<div class="row">    
    
</div>


