@using Entt.Ers.Models
@model HomeIndexViewModel

@{
    ViewBag.Title = "Dashboard";
}

@section PageHeader {
    <ul class="breadcrumb breadcrumb-caret position-left">
        <li><a href="/">Home</a></li>
        <li class="active">Dashboard</li>
    </ul>
}

<div class="row">    
    <div class="col-lg-8">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title text-semibold">Welcome to EnTT Reporting System</h6>
                <small class="display-block">Enterprise Track and Trace</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title text-semibold">Daily Statistics</h6>
                <div class="heading-elements">
                    <span class="heading-text">@Model.Date.ToString("dd MMM yyyy")</span>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="content-group">
                            <h6 class="text-semibold no-margin"><i class="icon-mail5 position-left text-slate"></i> @string.Format("{0:#,##0}", Model.Statistic.Acceptances)</h6>
                            <span class="text-muted text-size-small">Acceptance</span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="content-group">
                            <h6 class="text-semibold no-margin"><i class="icon-truck position-left text-slate"></i> @string.Format("{0:#,##0}", Model.Statistic.Deliveries)</h6>
                            <span class="text-muted text-size-small">Delivery</span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="content-group">
                            <h6 class="text-semibold no-margin"><i class="icon-folder-remove position-left text-slate"></i> @string.Format("{0:#,##0}", Model.Statistic.Unknowns)</h6>
                            <span class="text-muted text-size-small">No Acceptance</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


